    /* class --> .text-red{} */
    /* id --> #id-bilgisi{} */
    
    h1,
    h2,
    h3 {
        color: lightseagreen;
    }
    
    p {
        font-size: 20px;
    }
    
    #first-article {
        font-family: 'Times New Roman', Times, serif;
    }
    
    .text-red {
        color: red
    }
    
    .fs-small {
        font-size: 14px;
    }
    
    .fs-medium {
        font-size: 20px;
    }
    
    .fs-large {
        font-size: 50px;
    }
    /* css selectors */
    
    .color-blue.fw-normal {
        color: blue;
        font-weight: normal;
    }
    
    .color-blue .fw-normal {
        color: blue;
        font-weight: normal;
    }
    
    ol>li:first-child {
        color: red;
    }
    
    ol>li:last-child {
        color: cyan;
    }
    
    ul>li:nth-child(odd) {
        color: aqua;
    }
    
    .container>p.intro+ul>li:first-child {
        color: orange;
    }