body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 50px auto 0 auto;
}

.gradient {
    background: linear-gradient(90deg, rgba(45, 156, 219, .6), rgba(155, 81, 224, .6));
}

.btn {
    padding: 10px 20px;
    border-radius: 25px;
    color: wheat;
    text-decoration: none;
    text-shadow: 1px 1px;
}

.left-bar {
    width: 200px;
    float: left;
}

.content {
    width: 800px;
    float: left;
}

.clear {
    clear: both;
}

.card {
    width: 20%;
    float: left;
    padding: 5%;
    margin-right: 3%;
    background-color: cyan;
    border-radius: 10px;
}

.box {
    width: 300px;
    height: 300px;
    padding: 10px;
    margin-right: 10px;
    float: left;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}

.bg-blue {
    background-color: blue;
}